os: linux
dist: focal
services:
  - docker

cache:
  directories:
    - $HOME/docker

matrix:
  include:
   - arch: amd64
     env: DIST="focal" PLATFORM="x86_64"
   - arch: arm64
     env: DIST="focal" PLATFORM="arm64v8"
   - arch: ppc64le
     env: DIST="focal" PLATFORM="ppc64le"
   - arch: s390x
     env: DIST="focal" PLATFORM="s390x"
   - arch: amd64
     env: DIST="alpine3.17" PLATFORM="x86_64"
   - arch: arm64
     env: DIST="alpine3.17" PLATFORM="arm64v8"

script:
  - DIST=$DIST PLATFORM=$PLATFORM TRAVIS_COMMIT=$TRAVIS_COMMIT ./build.sh

deploy:
  skip_cleanup: true
  provider: script
  script: bash ./deploy.sh
  on:
    branch: focal
